@page "{id:int}"
@model igi.Areas.Admin.Pages.EditModel

@{
    ViewData["Title"] = "Edit";

}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Protein" class="control-label"></label>
                <input asp-for="Product.Protein" class="form-control" />
                <span asp-validation-for="Product.Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Fat" class="control-label"></label>
                <input asp-for="Product.Fat" class="form-control" />
                <span asp-validation-for="Product.Fat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Carbohydrate" class="control-label"></label>
                <input asp-for="Product.Carbohydrate" class="form-control" />
                <span asp-validation-for="Product.Carbohydrate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.Product.Image))
                {
                    <img src="@Model.Product.Image" alt="NoSuchFile" width="150" />
                }
                else
                {
                    <h4>Файл не найден</h4>
                }
                <div class="custom-file mt-3">
                    <input type="file" asp-for="Product.Image" class="custom-file-input" id="customFile" />
                    <label for="customFile" class="custom-file-label"></label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Product.Calories" class="control-label"></label>
                <input asp-for="Product.Calories" class="form-control" />
                <span asp-validation-for="Product.Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts{
    <script src="~/lib/bs-custom-file-input/bs-custom-file-input.js"></script>
    <script>
        bsCustomFileInput.init();
    </script>
}
